@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "DMSans", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin:0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Caladea";
  font-weight: 700;
  font-style: normal;
  src: url("/font/caladea-font/Caladea-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Caladea";
  font-weight: 700;
  font-style: italic;
  src: url("/font/caladea-font/Caladea-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Caladea";
  font-weight: 500;
  font-style: normal;
  src: url("/font/caladea-font/Caladea-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Caladea";
  font-weight: 500;
  font-style: italic;
  src: url("/font/caladea-font/Caladea-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 400;
  font-style: normal;
  src: url("/font/dmSans-font/DMSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "DMSans";
  font-weight: 500;
  font-style: normal;
  src: url("/font/dmSans-font/DMSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "DMSans";
  font-weight: 600;
  font-style: normal;
  src: url("/font/dmSans-font/DMSans-Regular.ttf") format("truetype");
}
body {
  color: rgb(var(--foreground-rgb));
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}
